<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>八小时管理系统</title>
    <link rel="stylesheet" href="css/public.css"/>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
<!--头部-->
<header class="publicHeader">
    <div th:include="left :: #content-header"></div>
</header>
<div th:include="left :: #content-left"></div>
<!--时间-->
<!--<section class="publicTime">-->
    <!--<span id="time">2015年1月1日 11:11  星期一</span>-->
    <!--<a href="#">温馨提示：为了能正常浏览，请使用高版本浏览器！（IE10+）</a>-->
<!--</section>-->
<!--&lt;!&ndash;主体内容&ndash;&gt;-->
<!--<section class="publicMian">-->
    <!--<div class="left">-->
        <!--<h2 class="leftH2"><span class="span1"></span>功能列表 <span></span></h2>-->
        <!--<nav>-->
            <!--<ul class="list">-->
                <!--&lt;!&ndash;<li ><a href="billList.html">账单管理</a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li><a href="providerList.html">供应商管理</a></li>&ndash;&gt;-->
                <!--<li><a href="userList">用户管理</a></li>-->
                <!--<li><a href="changePassword">密码修改</a></li>-->
                <!--<li><a href="logout">退出系统</a></li>-->
            <!--</ul>-->
        <!--</nav>-->
    <!--</div>-->
    <!--<div class="right">-->
        <!--<img class="wColck" src="img/clock.jpg" alt=""/>-->
        <!--<div class="wFont">-->
            <!--<h2><span th:text="${session.user.username}"></span></h2>-->
            <!--<p>欢迎来到八小时管理系统!</p>-->
			<!--<span id="hours"></span>-->
        <!--</div>-->
    <!--</div>-->
<!--</section>-->
<footer class="footer">
</footer>
<script src="js/time.js"></script>
<div style="text-align:center;">
<!--<p>更多模板：<a href="http://www.mycodes.net/" target="_blank">源码之家</a></p>-->
</div>
</body>
</html>