<html xmlns:th="http://www.thymeleaf.org">
<div id="content-header">
    <h1>八小时管理系统</h1>

    <div class="publicHeaderR">
        <p><span id="hours"></span><span style="color: #fff21b" th:text="${session.user.username}"></span> , 欢迎你！</p>
        <a href="logout">退出</a>
    </div>
</div>
<!--时间-->
<div id="content-left">
    <section class="publicTime">
        <span id="time">2015年1月1日 11:11  星期一</span>
        <a href="#">温馨提示：为了能正常浏览，请使用高版本浏览器！（IE10+）</a>
    </section>
    <!--主体内容-->
    <section class="publicMian">
        <div class="left">
            <h2 class="leftH2"><span class="span1"></span>功能列表 <span></span></h2>
            <nav>
                <ul class="list">
                    <li ><a href="billList.html">账单管理</a></li>
                    <li><a href="providerList.html">供应商管理</a></li>
                    <div th:each=" role,rolestat :${session.user.roles}">
                        <span th:if="${role.name} == 'admin'">
                            <li><a href="userList">用户管理</a></li>
                        </span>
                        <!--<div th:if="${role.name} equal 'admin' ">-->
                            <!--<li><a href="userList">用户管理</a></li>-->
                        <!--</div>-->
                    </div>
                    <li><a href="changePassword">密码修改</a></li>
                    <li><a href="logout">退出系统</a></li>
                </ul>
            </nav>
        </div>
        <div class="right">
            <img class="wColck" src="img/clock.jpg" alt=""/>
            <div class="wFont">
                <h2><span th:text="${session.user.username}"></span></h2>
                <p>欢迎来到八小时管理系统!</p>
                <span id="hours"></span>
            </div>
        </div>
    </section>
</div>